// general
@import './utils/variables';
@import './utils/placeholders';
@import './utils/mixins';
@import './base/normalize';
@import './base/fonts';
@import './components/general-styles';
@import './components/buttons';

// header
@import './components/header';
// main
@import './components/hero';
@import './components/about';
// footer
// @import "./components/page-footer";

// modal
// @import "./components/modal";
// @import "./components/form";
