// text variables
$primary-font-family: "DMSans", arial, sans-serif;
$secondary-font-family: "TitanOne", sans-serif;
// ==================================================================
// text colors
$primary-text-color: #000000;
$secondary-text-color: #907e82;
$acent-text-color: #d41443;
$lite-acent-text-color: #ffa5ba;
$white-text-color: #ffffff;
// ==================================================================
// font size
$primary-font-size: 16px;
$secondary-font-size: 14px;
// ==================================================================
// letter-spacing
$primary-letter-spacing: 0.04em;
$secondary-letter-spacing: 0.02em;
$title-letter-spacing: 0.06em;
// ==================================================================
// background colors
$primary-Bg-color: #ffffff;
$secondary-Bg-color: #fff5f6;
$acent-Bg-color: #ffb8ca;
$hover-btn-bg-color: #ecebeb;
$mobile-menu-bg-color: #e17992;
// ==================================================================
// thumb colors
$mob-menu-border-color: #e18298;
$hero-circle-thumb: #ffa5ba;
// ==================================================================
// animations
$primary-animation: cubic-bezier(0.4, 0, 0.2, 1);
$secondary-animation: cubic-bezier(0.4, 0, 0.2, 1);
