<section class="about" id="about-us">
  <div class="container">
    <p data-aos="zoom-out-down" class="about__label">tradition and love</p>
    <h2 data-aos="zoom-out-down" class="about__title">how it's made</h2>
    <div class="about__content-box" data-aos="zoom-out-down">
      <div class="about__image-container">
        <picture>
          <source
            srcset="images/cow.png 280w, images/cow@2x.png 560w"
            media="(max-width:767px)"
            sizes="(max-width:767px) 280px"
          />
          <source
            srcset="images/cow-tablet340.png 340w, images/cow-tablet340@2x.png 780w"
            media="(min-width:768px) and (max-width:1199px)"
            sizes="(min-width:768px) and (max-width:1199px) 340px, 100vw"
          />
          <source
            srcset="images/cow-desktop.png 516w, images/cow-desktop@2x.png 1032w"
            media="(min-width:1200px)"
            sizes="(min-width:1200px) 516px, 100vw"
          />
          <img class="trembling" src="images/cow.png" alt="cow and milk" />
        </picture>
      </div>
      <div class="about__content">
        <p class="about__text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__description">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="about__description">Aliquam erat volutpat. Aenean accumsan.</p>

        <button class="about-button" type="button" data-modal-about-open>
          <span class="button-text">Read more</span>
          <span class="icon-container">
            <svg class="arrow" width="7.43" height="11">
              <use href="images/sprite.svg#arrow"></use>
            </svg>
          </span>
        </button>
      </div>
    </div>
  </div>
</section>
