<section class="advantages section">
    <div class="advantages__container"></div>
    <h2 class="advantages__title--visually-hidden"> Advantages</h2>
    <ul class="advantages__list">
        <li class="advantages__content">
            <h3 class="advantages__number">721</h3>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__content">
            <h3 class="advantages__number">16kg</h3>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__content">
            <h3 class="advantages__number">84</h3>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>

</section>