<section class="gallery">
  <div class="container container__gallery">
    <div class="gallery__items">
      <div class="gallery__item gallery__item--1"><img src="../src/images/gal1.jpg" alt=""></div>
      <div class="gallery__item gallery__item--2"><img src="../src/images/gal2.jpg" alt=""></div>
      <div class="gallery__item gallery__item--3"><img src="../src/images/gal3.jpg" alt=""></div>
      <div class="gallery__item gallery__item--4"><img src="../src/images/gal4.jpg" alt=""></div>
      <div class="gallery__item gallery__item--5"><img src="../src/images/gal5.jpg" alt=""></div>
      <div class="gallery__item gallery__item--6"><img src="../src/images/gal6.jpg" alt=""></div>
      <div class="gallery__item gallery__item--7"><img src="../src/images/gal7.jpg" alt=""></div>
      <div class="gallery__item gallery__item--8"><img src="../src/images/gal8.jpg" alt=""></div>
      <div class="gallery__item gallery__item--9"><img src="../src/images/gal9.jpg" alt=""></div>
      <div class="gallery__item gallery__item--10"><img src="../src/images/gal10.jpg" alt=""></div>
    </div>
  </div>
</section>