<header class="header">
  <div class="container container-header">
    <!-- logo -->
    <div data-aos="fade-right" class="logo">
      <div class="logo__thumb">
        <svg width="40px" height="40px">
          <use class="logo__image" href="./images/sprite.svg#logo"></use>
        </svg>
      </div>
      <span class="logo__text">icecream</span>
    </div>
    <!-- nav -->
    <nav class="nav" id="nav" data-menu>
      <button class="primary__btn primary__btn-mobile" data-modal-mobile-open>
        Buy now <span class="primary__btn-arrow"> &gt;</span>
      </button>
      <a class="nav__link" href="#home">Home</a>
      <a class="nav__link" href="#footer">About us</a>
      <a class="nav__link" href="#about-us">How it’s made?</a>
      <a class="nav__link" href="#products">Our products</a>
      <a class="nav__link" href="#contacts">Contact</a>
    </nav>
    <!-- site btns -->
    <div class="button__thumb">
      <!-- button -->
      <button class="primary__btn primary__btn-header" data-modal-open>
        Buy now <span class="primary__btn-arrow"> &gt;</span>
      </button>
      <!-- mobile btn -->
      <button type="button" class="button__mobile" data-menu-button aria-expanded="false">
        <svg width="40px" height="40px" aria-label="переключательмобильного меню">
          <use class="button__mobile-menu" xlink:href="./images/sprite.svg#icon-menu-burger"></use>
          <use
            class="button__mobile-cross"
            xlink:href="./images/sprite.svg#icon-close-button-modal"
          ></use>
        </svg>
      </button>
    </div>
  </div>
</header>
