<section class="hero">
  <div class="hero__container">
    <div class="hero-container-first">
      <div class="title title__wraper">
        <h1 class="title__main">
          ice cream <br />
          made with
          <span class="title__accent">passion</span>
        </h1>
        <a class="secondary__btn" href="#">Products</a>
        <a class="primary__btn" href="#">How it’s made?</a>
      </div>
      <div class="milk milk__wraper">
        <picture>
          <source
            srcset="./images/hero/milk-768.png 340w, ./images/hero/milk-768@2x.png 780w"
            media="(min-width:768px) and (max-width:1279px)"
            sizes="(min-width:768px) and (max-width:1279px) 340px, 100vw"
          />
          <source
            srcset="./images/hero/milk-1200.png 516w, ./images/hero/milk-1200@2x.png 1032w"
            media="(min-width:1200px)"
            sizes="(min-width:1200px) 516px, 100vw"
          />
          <img src="./images/hero/milk-768.png" alt="bootle of milk" />
        </picture>
        <div class="milk__thumb">
          <p class="milk__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button type="button" class="inform__btn">
            <svg width="10px" height="10px">
              <use class="inform__arrow" href="./images/symbol-defs.svg#arrow"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="hero-container-second">
      <picture class="main-img">
        <source
          srcset="./images/hero/ice-cream-768.png 280w, ./images/hero/ice-cream-768@2x.png 560w"
          media="(max-width:767px)"
          sizes="(max-width:767px) 280px"
        />
        <source
          srcset="./images/hero/ice-cream-320.png 340w, ./images/hero/ice-cream-320@2x.png 780w"
          media="(min-width:768px) and (max-width:1279px)"
          sizes="(min-width:768px) and (max-width:1279px) 340px, 100vw"
        />
        <source
          srcset="./images/hero/ice-cream-1200.png 516w, ./images/hero/ice-cream-1200@2x.png 1032w"
          media="(min-width:1200px)"
          sizes="(min-width:1200px) 516px, 100vw"
        />
        <img src="./images/hero/ice-cream-768.png" alt="big ice cream" />
      </picture>
    </div>
    <div class="hero-container-third">
      <div class="achievement">
        <div class="achievement__thumb">
          <span class="achievement__title">16</span>
          <p class="achievement__text">cafes</p>
        </div>
        <div class="achievement__thumb">
          <span class="achievement__title">23</span>
          <p class="achievement__text">food trucks</p>
        </div>
      </div>
      <picture class="achievemen__icon">
        <source
          srcset="./images/hero/girl-768.png 340w, ./images/hero/girl-768@2x.png 780w"
          media="(min-width:768px) and (max-width:1279px)"
          sizes="(min-width:768px) and (max-width:1279px) 340px, 100vw"
        />
        <source
          srcset="./images/hero/girl-1200.png 516w, ./images/hero/girl-1200@2x.png 1032w"
          media="(min-width:1200px)"
          sizes="(min-width:1200px) 516px, 100vw"
        />
        <img src="./images/hero/girl-768.png" alt="girl trying ice cream" />
      </picture>
    </div>
  </div>
</section>
