<header class="header">
  <!-- menu -->
  <div class="menu">
    <!-- logo -->
    <!-- <svg width="200px" height="50px">
      <use class="logo" href="./images/svg/symbol-defs-good.svg#logo"></use>
    </svg> -->
    <!-- nav -->
    <nav class="nav" id="nav" data-menu>
      <button class="primary__btn primary__btn-mobile">
        Buy now <span class="primary__btn-arrow"> &gt;</span>
      </button>
      <a class="nav__link" href="#">Home</a>
      <a class="nav__link" href="#">About us</a>
      <a class="nav__link" href="#">How it’s made?</a>
      <a class="nav__link" href="#">Our products</a>
      <a class="nav__link" href="#">Contact</a>
    </nav>
    <!-- site btns -->
    <div class="button__thumb">
      <!-- button -->
      <button class="primary__btn primary__btn-header">
        Buy now <span class="primary__btn-arrow"> &gt;</span>
      </button>
      <!-- mobile btn -->
      <button type="button" class="button__mobile" data-menu-button aria-expanded="false">
        <!-- <svg width="40px" height="40px" aria-label="переключательмобильного меню">
          <use
            class="button__mobile-menu"
            xlink:href="./images/svg/symbol-defs-good.svg#icon-mobile-menu"
          ></use>
          <use
            class="button__mobile-cross"
            xlink:href="./images/svg/symbol-defs-good.svg#icon-close"
          ></use>
        </svg> -->
      </button>
    </div>
  </div>
  <!-- container  -->
  <div class="hero">
    <div class="hero__container-left">
      <!-- page title -->
      <div class="title__thumb">
        <h1 class="title">ice cream made with <span class="title__acent">passion</span></h1>
        <a class="secondary__btn" href="#">Products</a>
        <a class="primary__btn" href="#">How it’s made?</a>
      </div>
      <!-- milk block -->
      <div class="milk">
        <p class="milk__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <a class="inform__btn" href="#">&rarr;</a>
      </div>
    </div>
    <!-- container right -->
    <div class="hero__container-right">
      <!-- capacity -->
      <div class="capacity">
        <div class="capacity__thumb">
          <span class="capacity__title">16</span>
          <p class="capacity__text">cafes</p>
        </div>
        <div class="capacity__thumb">
          <span class="capacity__title">23</span>
          <p class="capacity__text">food trucks</p>
        </div>
      </div>
    </div>
  </div>
</header>
