<div class="backdrop is-hidden" info-data-modal>
  <div class="modal container">
    <button class="modal__close" data-info-modal-close>
      <svg class="modal__icon" width="40px" height="40px">
        <use xlink:href="./images/sprite.svg#icon-close-button-modal"></use>
      </svg>
    </button>
    <div class="info__wraper">
      <picture class="info__image">
        <source
          srcset="./images/hero/milk-768.png 340w, ./images/hero/milk-768@2x.png 780w"
          media="(min-width:768px) and (max-width:1279px)"
          sizes="(min-width:768px) and (max-width:1279px) 340px, 100vw"
        />
        <source
          srcset="./images/hero/milk-1200.png 516w, ./images/hero/milk-1200@2x.png 1032w"
          media="(min-width:1200px)"
          sizes="(min-width:1200px) 516px, 100vw"
        />
        <img src="./images/hero/milk-768.png" alt="bootle of milk" />
      </picture>
      <p class="info__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi laudantium, distinctio ad
        nemo doloribus repudiandae eligendi dolorum deserunt, sed accusamus maxime porro eaque.
        Maxime excepturi assumenda quam sapiente, dignissimos enim!
      </p>
      <picture class="info__image">
        <source
          srcset="./images/hero/girl-768.png 340w, ./images/hero/girl-768@2x.png 780w"
          media="(min-width:768px) and (max-width:1279px)"
          sizes="(min-width:768px) and (max-width:1279px) 340px, 100vw"
        />
        <source
          srcset="./images/hero/girl-1200.png 516w, ./images/hero/girl-1200@2x.png 1032w"
          media="(min-width:1200px)"
          sizes="(min-width:1200px) 516px, 100vw"
        />
        <img src="./images/hero/girl-768.png" alt="girl trying ice cream" />
      </picture>
      <p class="info__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi laudantium, distinctio ad
        nemo doloribus repudiandae eligendi dolorum deserunt, sed accusamus maxime porro eaque.
        Maxime excepturi assumenda quam sapiente, dignissimos enim!
      </p>
    </div>
  </div>
</div>
