<div class="backdrop-contacts backdrop-contacts__is-hidden" data-contacts-modal>
    <div class="modal-contacts">        
        <form>
            <label for="city" class="modal-contacts-city">Choose your City</label>
            <select id="city" name="city" class="modal-contacts-city-list">
                <option value="" selected> </option>
                <option value="Ch">Chicago</option>
                <option value="LA">Los Angeles</option>
                <option value="NY">New York</option>
            </select>
            <label class="modal-contacts-response">
                <span class="modal-contacts-response-text">Leave your feedback</span> 
                <textarea name="feedback" rows="7" placeholder="Enter your feedback here..."></textarea>
            </label>
            <button type="submit" class="modal-contacts-response-button">Submit</button>
        </form>
    </div>
</div>