<!--Footer-->
<footer>
    <div class="container footer-page">
        <div class="footer-page__header">
            <span class="footer-page__header--secondary">homemade ice cream made</span>
            <span class="footer-page__header--main">with passion</span>
        </div>
        <ul>
            <li>
                <a href="">
                    <svg width="20px" height="20px">
                        <use href="./images/social-actives.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="">
                    <svg width="20px" height="20px">
                        <use href="./images/social-actives.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="">
                    <svg width="20px" height="20px">
                        <use href="./images/social-actives.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <p class="contact-list">
            Feel free to contact
            <a href="tel: +610383 766 284">+61 (0) 383 766 284</a>
        </p>
        <p class="footer-page__copyright">&copy; 2019 - IceCream. All Rights Reserved.</p>
    </div>
</footer>