<!--Footer-->
<footer>
    <div class="container footer-page">
        <div class="footer-page--location">
            <div class="footer-page__header">
                <span class="footer-page__header--secondary">homemade ice cream made</span>
                <span class="footer-page__header--main">with passion</span>
            </div>
            <div class="footer-page__contacts">
                <ul class="footer-page__icons">
                    <li>
                        <a href="https://github.com/" target="_blank" class="footer-page__link">
                            <svg width="20px" height="20px">
                                <use href="./images/sprite.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://web.telegram.org/z/" target="_blank" class="footer-page__link">
                            <svg width="20px" height="20px">
                                <use href="./images/sprite.svg#icon-telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/" target="_blank" class="footer-page__link">
                            <svg width="20px" height="20px">
                                <use href="./images/sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <p class="contact-list">
                    Feel free to contact
                    <a href="tel: +610383 766 284">+61 (0) 383 766 284</a>
                </p>
            </div>
        </div>
        <p class="footer-page__copyright">&copy; 2019 - IceCream. All Rights Reserved.</p>
    </div>
</footer>