<section class="products" id="products">
  <div class="products__container container">
    <span data-aos="zoom-out-down" class="products__label">100% natural</span>
    <h2 data-aos="zoom-out-down" class="products__title">products</h2>
    <ul class="products__list list">
      <li class="products__item" data-aos="zoom-out-down">
        <div class="products__box cream">
          <h3 class="products-item__title">ice cream</h3>
          <div class="products__icon">
            <svg width="26" height="6" class="products-btn__icon">
              <use href="./images/products.svg#ellipse"></use>
            </svg>
            <svg width="26" height="6" class="products-btn__icon">
              <use href="./images/products.svg#ellipse"></use>
            </svg>
            <svg width="26" height="6" class="products-btn__icon">
              <use href="./images/products.svg#ellipse"></use>
            </svg>
          </div>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button type="button" class="products__btn" width="40" height="40">
            <svg width="10" height="10" class="products-btn__icon">
              <use href="./images/products.svg#right-arrow"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="products__item" data-aos="zoom-out-down">
        <div class="products__box coffee">
          <h3 class="products-item__title">ice coffee</h3>
          <div class="products__icon">
            <svg width="26" height="6" class="products-btn__icon">
              <use href="./images/products.svg#ellipse"></use>
            </svg>
            <svg width="26" height="6" class="products-btn__icon">
              <use href="./images/products.svg#ellipse"></use>
            </svg>
            <svg width="26" height="6" class="products-btn__icon">
              <use href="./images/products.svg#ellipse"></use>
            </svg>
          </div>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button type="button" class="products__btn" width="40" height="40">
            <svg width="10" height="10" class="products-btn__icon">
              <use href="./images/products.svg#right-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__item" data-aos="zoom-out-down">
        <div class="products__box milkshakes">
          <h3 class="products-item__title">milkshakes</h3>
          <div class="products__icon">
            <svg width="26" height="6" class="products-btn__icon">
              <use href="./images/products.svg#ellipse"></use>
            </svg>
            <svg width="26" height="6" class="products-btn__icon">
              <use href="./images/products.svg#ellipse"></use>
            </svg>
            <svg width="26" height="6" class="products-btn__icon">
              <use href="./images/products.svg#ellipse"></use>
            </svg>
          </div>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button type="button" class="products__btn" width="40" height="40">
            <svg width="10" height="10" class="products-btn__icon">
              <use href="./images/products.svg#right-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
