<section class="products" id="products">
  <div class="products__container container">
    <span class="products__label">100% natural</span>
    <h2 class="products__title">products</h2>
    <ul class="products__list list">
      <li class="products__item scene scene--card">
        <div class="flip-card__ice-cream">
          <div class="products__box cream card__face card__face--front">
            <h3 class="products-item__title">ice cream</h3>
            <div class="products__icon">
              <svg width="26" height="6" class="products-btn__icon">
                <use href="./images/products.svg#ellipse"></use>
              </svg>
              <svg width="26" height="6" class="products-btn__icon">
                <use href="./images/products.svg#ellipse"></use>
              </svg>
              <svg width="26" height="6" class="products-btn__icon">
                <use href="./images/products.svg#ellipse"></use>
              </svg>
            </div>
            <p class="products__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </p>
            <button type="button" class="products__btn">
              <svg width="10" height="10" class="products-btn__icon">
                <use href="./images/products.svg#right-arrow"></use>
              </svg>
            </button>
          </div>
          <div class="card__face--back ice-cream__back">
            <h3 class="flip-card__title">ice cream</h3>
            <p class="flip-card__text">
              Never gonna give you up
              Never gonna let you down
              Never gonna run around and desert you
              Never gonna make you cry
              Never gonna say goodbye
              Never gonna tell a lie and hurt you
            </p>
          </div>
        </div>
        
      </li>

      <li class="products__item scene scene--card">
        <div class="flip-card__coffee">
          <div class="products__box coffee card__face card__face--front">
            <h3 class="products-item__title">ice coffee</h3>
            <div class="products__icon">
              <svg width="26" height="6" class="products-btn__icon">
                <use href="./images/products.svg#ellipse"></use>
              </svg>
              <svg width="26" height="6" class="products-btn__icon">
                <use href="./images/products.svg#ellipse"></use>
              </svg>
              <svg width="26" height="6" class="products-btn__icon">
                <use href="./images/products.svg#ellipse"></use>
              </svg>
            </div>
            <p class="products__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </p>
            <button type="button" class="products__btn">
              <svg width="10" height="10" class="products-btn__icon">
                <use href="./images/products.svg#right-arrow"></use>
              </svg>
            </button>
          </div>
          <div class="card__face--back coffee__back">
            <h3 class="flip-card__title">coffee</h3>
            <p class="flip-card__text">
              Never gonna give you up
              Never gonna let you down
              Never gonna run around and desert you
              Never gonna make you cry
              Never gonna say goodbye
              Never gonna tell a lie and hurt you
            </p>
          </div>
        </div>        
      </li>
      <li class="products__item scene scene--card">
        <div class="flip-card__milkshake">
          <div class="products__box milkshakes card__face card__face--front">
            <h3 class="products-item__title">milkshakes</h3>
            <div class="products__icon">
              <svg width="26" height="6" class="products-btn__icon">
                <use href="./images/products.svg#ellipse"></use>
              </svg>
              <svg width="26" height="6" class="products-btn__icon">
                <use href="./images/products.svg#ellipse"></use>
              </svg>
              <svg width="26" height="6" class="products-btn__icon">
                <use href="./images/products.svg#ellipse"></use>
              </svg>
            </div>
            <p class="products__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </p>
            <button type="button" class="products__btn">
              <svg width="10" height="10" class="products-btn__icon">
                <use href="./images/products.svg#right-arrow"></use>
              </svg>
            </button>
          </div>
          <div class="card__face--back milkshake__back">
            <h3 class="flip-card__title">milkshake</h3>
            <p class="flip-card__text">
              Never gonna give you up
              Never gonna let you down
              Never gonna run around and desert you
              Never gonna make you cry
              Never gonna say goodbye
              Never gonna tell a lie and hurt you
            </p>
          </div>
        </div>
        
      </li>
    </ul>
  </div>
</section>
