<section class="products">
  <div class="products__container container">
    <span class="products__label">100% natural</span>
    <h2 class="products__title">products</h2>
    <ul class="products__list list">
      <li class="products__item">
        <div class="products__box cream">
          <h3 class="products-item__title">ice cream</h3>

          <!--SVG-->
          <svg
            class="products__icon"
            width="26"
            height="6"
            viewBox="0 0 26 6"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="13" cy="3" r="3" fill="white" />
            <circle cx="3" cy="3" r="3" fill="white" />
            <circle cx="23" cy="3" r="3" fill="white" />
          </svg>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button type="button" class="products__btn" width="40" height="40">
            <!--- <svg width="#" height="#" class="products-btn__icon">
              <use href=""></use>
            </svg> -->
          </button>
        </div>
      </li>

      <li class="products__item">
        <div class="products__box coffee">
          <h3 class="products-item__title">ice coffee</h3>
          <svg
            class="products__icon"
            width="26"
            height="6"
            viewBox="0 0 26 6"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="13" cy="3" r="3" fill="white" />
            <circle cx="3" cy="3" r="3" fill="white" />
            <circle cx="23" cy="3" r="3" fill="white" />
          </svg>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button type="button" class="products__btn" width="40" height="40">
            <svg width="#" height="#" class="products-btn__icon">
              <use href=""></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__item">
        <div class="products__box milkshakes">
          <h3 class="products-item__title">milkshakes</h3>
          <svg
            class="products__icon"
            width="26"
            height="6"
            viewBox="0 0 26 6"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="13" cy="3" r="3" fill="white" />
            <circle cx="3" cy="3" r="3" fill="white" />
            <circle cx="23" cy="3" r="3" fill="white" />
          </svg>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button type="button" class="products__btn" width="40" height="40">
            <svg width="#" height="#" class="products-btn__icon">
              <use href=""></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
