<section class="section-reviews">
    <h2 class="container-slider__title--visually-hidden">Customer Reviews</h2>
    <div class="container-slider">
        <article class="slide">
            <h3 class="container-slider__title--visually-hidden">Member</h3>
            <div class="slide__foto">
                <picture>
                    <source srcset="
                    ./images/reviews_member1.webp 1x,
                    ./images/reviews_member1@2x.webp 2x,
                    ./images/reviews_member1@3x.webp 3x
                    "
                    type="image/webp">
                    <source srcset="
                    ./images/reviews_member1.jpg 1x,
                    ./images/reviews_member1@2x.jpg 2x,
                    ./images/reviews_member1@3x.jpg 3x
                    "
                    >
                    <img src="./images/reviews_member1.jpg" alt=""> 
                </picture>
            </div>
            <div class="slide__comment">
                <div class="slide__comment--gradient">
                    <p class="slide__comment--style">
                        Nullam viverra consectetuer. 
                        Quisque cursus et, porttitor risus. 
                        Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. 
                        Lorem ipsum primis in nibh vel risus.
                    </p>
                </div>
            </div>
            <div class="slide__subtitle">
                <span class="slide__subtitle--style">Emily, Los Angeles</span>
            </div>
        </article>
        <article class="slide">
            <h3 class="container-slider__title--visually-hidden">Member</h3>
            <div class="slide__foto">
                <picture>
                    <source srcset="
                    images/team_member2.webp 1x,
                    images/team_member2@2x.webp 2x,
                    images/team_member2@3x.webp 3x
                    "
                    type="image/webp">
                    <source srcset="
                    images/team_member2.jpg 1x,
                    images/team_member2@2x.jpg 2x,
                    images/team_member2@3x.jpg 3x
                    "
                    >
                    <img src="./images/team_member2.jpg" alt=""> 
                </picture>
            </div>
            <div class="slide__comment">
                <div class="slide__comment--gradient">
                    <p class="slide__comment--style">
                        Assumenda impedit fugiat aliquid commodi beatae iste.
                        Lorem ipsum,
                         dolor sit amet consectetur adipisicing elit. 
                    </p>
                </div>
                
            </div>
            <div class="slide__subtitle">
                <span class="slide__subtitle--style">Emily, Los Angeles</span>
            </div>
        </article>
        <article class="slide">
            <h3 class="container-slider__title--visually-hidden">Member</h3>
            <div class="slide__foto">
                <picture>
                    <source srcset="
                    images/team_member3.webp 1x,
                    images/team_member3@2x.webp 2x,
                    images/team_member3@3x.webp 3x
                    "
                    type="image/webp">
                    <source srcset="
                    images/team_member3.jpg 1x,
                    images/team_member3@2x.jpg 2x,
                    images/team_member3@3x.jpg 3x
                    "
                    >
                    <img src="./images/team_member3.jpg" alt=""> 
                </picture>
            </div>
            <div class="slide__comment">
                <div class="slide__comment--gradient">
                    <p class="slide__comment--style">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Minus dolore porro odit, id reprehenderit non esse quasi eveniet,
                         a ipsa explicabo voluptatum voluptate magni quam temporibus delectus?
                    </p>
                </div>
                
            </div>
            <div class="slide__subtitle">
                <span class="slide__subtitle--style">Emily, Los Angeles</span>
            </div>
        </article>
    </div>
</section>