// primary Btn
.primary__btn {
  color: $accent-text-color;
  background-color: $primary-Bg-color;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.3;
  text-decoration: none;
  cursor: pointer;

  border: 1px transparent;
  border-radius: 22px;

  padding: 7px 11px;

  transition: background-color 250ms $primary-animation;

  @media (min-width: 768px) {
    font-size: 16px;
    padding: 10px 12px;
  }
  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    background-color: $hover-btn-bg-color;
  }
}
.primary__btn-mobile {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;

  display: flex;
  justify-content: center;
  max-width: 209px;

  padding: 10px 63px;
  margin: 0 20px 19px 20px;
  @media screen and (min-width: 1199px) {
    display: none;
  }
}
.primary__btn-arrow {
  @include centerFlex();
  height: 100%;
  margin-left: 9px;
}
.primary__btn-header {
  @include centerFlex();
  @media (max-width: 767px) {
    display: none;
  }
  @media (min-width: 480px) {
    font-size: 16px;
    padding: 7px 40px;
    margin-right: 30px;
  }
}
// ==================================================================
// secondary Btn
.secondary__btn {
  color: $white-text-color;
  background-color: $accent-text-color;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.3;
  text-decoration: none;
  cursor: pointer;

  border-radius: 20px;
  padding: 7px 13px;
  border: 1px $accent-text-color;
  transition: color 250ms $primary-animation,
    background-color 250ms $primary-animation;

  @media (min-width: 768px) {
    font-size: 16px;
    padding: 10px 17px;
  }
  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    color: $accent-text-color;
    background-color: $white-text-color;
    border: 1px $accent-text-color;
  }
}
// ==================================================================
// mobile Btn
.button__mobile {
  display: none;
  @media (max-width: 1199px) {
    display: inline-flex;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 99;
  }

  & .button__mobile-menu {
    display: block;
  }
  &.is-open .button__mobile-menu {
    display: none;
  }
  & .button__mobile-cross {
    display: none;
  }
  &.is-open .button__mobile-cross {
    fill: $white-text-color;
    display: block;
  }
}
.button__mobile-menu {
  fill: $accent-text-color;
}
.button__thumb {
  display: flex;
}
// ==================================================================
// inform Btn
.inform__btn {
  color: $accent-text-color;
  background-color: $primary-Bg-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  text-decoration: none;
  cursor: pointer;

  max-width: 26px;
  border-radius: 50px;
  border: 1px transparent;
  transition: background-color 250ms $primary-animation;

  &:hover,
  &:focus {
    background-color: $hover-btn-bg-color;
  }
}
