.contacts {
    background-color: $secondary-Bg-color;
    padding: 50px 0;
}
.contacts__title {
    display: none;
}
.contacts__company-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
}
.contacts__company-element-list {
    width: 220px;
    height: 100%;
    background-color: $primary-Bg-color;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    padding: 43px 20px;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
        margin-bottom: 0;
        margin-right: 20px;
        padding: 50px 32px;
    }
}
.contacts__company-element-list:last-child {
    margin-bottom: 0;
    @media screen and (min-width: 768px) {
        margin-right: 0;
    }
}
.contacts__company-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 16px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    text-align: center;
    letter-spacing: 0.04em;
    background-color: #F0D1A5;
    border-radius: 4px;
    color: $white-text-color;
    margin-bottom: 0;
    @media screen and (min-width: 768px) {
        width: 73px;
        height: 28px;
        font-size: 16px;
        border-radius: 6px;
    }
}
#food-truck {
    width: 130px;
    background-color: #C2E297;
    @media screen and (min-width: 768px) {
        width: 138px;
    }
}
.contacts__company-roster {
    margin-top: 25px;
    @media screen and (min-width: 768px) {
        margin-top: 30px;
    }
}
.contacts__company-roster-element {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #E1E1E1;
    @media screen and (min-width: 768px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
.contacts__company-roster-element:first-child {
    padding-top: 0;
}
.contacts__company-roster-element:last-child {
    padding-bottom: 0;
    border-bottom: none;
}
.contacts__company-roster-town {
    width: 57px;
    height: 22px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.04em;
    color: $primary-text-color;
    @media screen and (min-width: 768px) {
        width: 58px;
        height: 26px;
        font-size: 14px;
    }
}
.contacts__company-roster-town-description {
    width: 179px;
    height: 36px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: #907E82;
    @media screen and (min-width: 768px) {
        width: 145px;
        height: 65px;
        font-size: 14px;
    }
}
.contacts__company-roster-days {
    width: 107px;
    height: 22px;    
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    color: $primary-text-color;
    @media screen and (min-width: 768px) {
        width: 109px;
        height: 26px;
        font-size: 14px;
    } 
}
.contacts__company-roster-time {
    width: 161px;
    height: 23px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    color: $lite-acent-text-color;
    @media screen and (min-width: 768px) {
        width: 142px;
        font-size: 14px;
    } 
}
.contacts__company-roster-element a {
    width: 179px;
    height: 37px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: $secondary-text-color;
    @media screen and (min-width: 768px) {
        width: 157px;
        height: 48px;
        font-size: 14px;
    } 
}
.contacts__button {
    display: flex;
    margin-top: 54px;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 768px) {
        margin-top: 81px;
        flex-direction: row;
        justify-content: center;
    } 
}
.contacts__button-locations {
    width: 161px;
    height: 44px;
    color: $white-text-color;
    background: #D41342;
    border-radius: 22px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    @media screen and (min-width: 768px) {
        width: 191px;
        margin-bottom: 0;
    } 
}
.contacts__button-franchise {
    width: 161px;
    height: 44px;
    color: $accent-text-color;
    background: $primary-Bg-color;
    border-radius: 22px;
    border: none;
    cursor: pointer;
    @media screen and (min-width: 768px) {
        width: 191px;
    } 
}
.contacts__button-pointer-locations {
    margin-left: 8px;
    @media screen and (min-width: 768px) {
        margin-left: 13px;
    } 
}
.contacts__button-pointer-franchise {
    margin-left: 13px;
}