.gallery {
  padding-top: 95px;
  background-image: linear-gradient(to bottom, #FFF5F6 55%, $primary-Bg-color 55%);

  @media screen and (min-width: 768px) {
    padding-top: 120px;
  }
}

.container__gallery {
  @media screen and (max-width: 767px) {
    width: 320px;
  }
}

.gallery__item {
  display: inline-block;
  overflow: hidden;
  
  width: 36px;
  height: 36px;
  border-radius: 5px;

  img {
    width: 100%;
    transition: 500ms; 
    display: block;

    &:hover {
      transform: scale(1.2);
    }
  }

  &--3 {
    height: 72px;
    width: 72px;
  }

  &--1,
  &--6 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &--2 {
    margin-top: 24px;
  }

  &--4 {
    margin-top: 28px;
  }

  &--5 {
    margin-top: 15px;
  }

  &--7,
  &--8,
  &--9,
  &--10 {
    margin-top: 4px;
  }

  @media screen and (min-width: 768px) {
    width: 95px;
    height: 95px;
    border-radius: 13px;

    &--3 {
      height: 185px;
      width: 185px;
    }

    &--1,
    &--6 {
      margin-top: 88px;
      margin-bottom: 88px;
    }

    &--2 {
      margin-top: 54px;
    }

    &--4 {
      margin-top: 62px;
    }

    &--5 {
      margin-top: 33px;
    }
  }

  @media screen and (min-width: 1280px) {
    width: 140px;
    height: 140px;
    border-radius: 20px;
    
    &--1,
    &--6 {
      margin-top: 144px;
      margin-bottom: 144px;
    }

    &--2 {
      margin-top: 90px;
    }

    &--3 {
      height: 288px;
      width: 288px;
    }
    
    &--4 {
      margin-top: 100px;
    }

    &--5 {
      margin-top: 53px;
    }
  }
}




