//zero stiles setup
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
// ==================================================================
// picture stiles setup
img {
  display: block;
  max-width: 100%;
  height: auto;
}
// ==================================================================
// main body stiles
body {
  font-family: $primary-font-family;
  letter-spacing: $secondary-letter-spacing;
  font-size: $primary-font-size;
}
// ==================================================================
// main section stiles
// .section {
//   padding: 20px 0 20px 0;
// }
// ==================================================================
// main container stiles
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  width: 100%;
  @media screen and (min-width: 480px) {
    width: 480px;
    padding: 0 20px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 34px;
  }
  @media screen and (min-width: 1200px) {
    width: 1280px;
    padding: 0 115px;
  }
}

// ==================================================================
//class visible hidden
.is-hidden {
  @extend %invisible;
}
