.header {
  background-color: rgba(255, 184, 202, 0.4);
  position: fixed;
  z-index: 99;
  width: 100%;
}

.container-header {
  position: relative;
  @include centerFlex($content: space-between);
  padding-top: 6px;
  padding-bottom: 6px;
  @media screen and (min-width: 768px) {
    padding-top: 10px;
    padding-bottom: 6px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 37px;
    padding-bottom: 6px;
  }
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  &__thumb {
    background-color: $accent-text-color;
    border-radius: 50%;
    margin-right: 10px;
  }
  &__image {
    fill: $white-text-color;
  }
  &__text {
    color: $accent-text-color;
    font-family: $secondary-font-family;
    font-size: 25px;
    line-height: 0.9;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      font-size: 34px;
    }
  }
}
.nav {
  @media screen and(max-width: 1279px) {
    background-color: $mobile-menu-bg-color;
    position: absolute;
    top: 0;
    right: -100%;
    width: 255px;
    height: 100vh;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    z-index: 99;
    transition: right 250ms $primary-animation;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      width: 300px;
    }
  }
  &.is-open {
    @media screen and (max-width: 1279px) {
      right: 0;
    }
  }
  @media screen and(min-width: 1280px) {
    display: flex;
  }
  &__link {
    color: $white-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3;
    text-decoration: none;

    @media screen and (max-width: 1279px) {
      border-top: 1px solid $mob-menu-border-color;
      padding: 11px 0 11px 20px;
      &:last-child {
        border-bottom: 1px solid $mob-menu-border-color;
      }
    }

    transition: color 250ms $primary-animation;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 1.3;
    }
    &:hover,
    &:focus {
      color: $accent-text-color;
    }

    @media screen and(min-width: 900px) {
      padding-left: 35px;
      &:first-child {
        padding-left: 0;
      }
    }
  }
}
