.hero {
  background-color: $accent-Bg-color;
  height: 500px;

  @media screen and (min-width: 768px) {
    height: 400px;
  }

  @media screen and (min-width: 1280px) {
    height: 665px;
  }

  &__container {
    height: 100%;
    padding-top: 58px;
    display: flex;

    @media screen and (min-width: 480px) {
      position: relative;
      max-width: 480px;
    }

    @media screen and (min-width: 768px) {
      padding-top: 76px;
      min-width: 768px;
      height: 400px;
      justify-content: space-between;
    }
    @media screen and (min-width: 1280px) {
      padding-top: 140px;
      max-width: 1280px;
      height: 665px;
    }
  }
}

.hero-container-first {
  display: flex;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: column;
    justify-content: space-between;
  }

  @media screen and (min-width: 1280px) {
    align-items: flex-start;
  }
}
.title {
  &__wraper {
    max-width: 270px;
    z-index: 5;
  }
  &__main {
    font-family: $secondary-font-family;
    display: inline-block;
    color: $white-text-color;
    font-size: 26px;
    line-height: 1.2;
    text-transform: uppercase;

    margin-bottom: 19px;

    @media screen and (min-width: 768px) {
      font-size: 22px;

      margin-bottom: 20px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 38px;

      margin-bottom: 25px;
    }
  }
  &__accent {
    color: $accent-text-color;
    font-family: $secondary-font-family;
    font-size: 48px;
    line-height: 0.9;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      font-size: 34px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 58px;
    }
  }
}
.milk {
  &__wraper {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
    }
  }
  &__thumb {
    max-width: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: 1280px) {
      max-width: 200px;
    }
  }
  &__text {
    display: inline-block;
    color: $white-text-color;
    font-size: 8px;
    line-height: 1.5;
    margin-bottom: 7px;
    @media screen and (min-width: 1280px) {
      font-size: 14px;
    }
  }
}

.hero-container-second {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;

  overflow: hidden;
  max-width: 480px;
  height: 500px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    height: 400px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    height: 665px;
  }

  &::before {
    position: absolute;
    top: 80px;
    left: 60px;
    display: block;
    width: 344px;
    height: 344px;
    border-radius: 50%;
    content: '';
    background-color: $hero-circle-thumb;

    @media screen and (min-width: 768px) {
      top: 50px;
      left: 290px;
    }
    @media screen and (min-width: 1280px) {
      top: 60px;
      left: 460px;
      width: 538px;
      height: 538px;
    }
  }
}
.main-img {
  position: absolute;
  top: 94px;
  left: 130px;
  z-index: 2;

  @media screen and (min-width: 768px) {
    top: 64px;
    left: 400px;
  }
  @media screen and (min-width: 1280px) {
    top: 107px;
    left: 595px;
  }
}

.hero-container-third {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
  }
}
.achievement {
  display: flex;
  flex-direction: column;
  justify-content: end;
  &__thumb {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: 1280px) {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    position: relative;
    font-family: $secondary-font-family;
    color: $accent-text-color;
    font-size: 28px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    @media screen and (min-width: 1280px) {
      font-size: 46px;
    }

    &::before {
      position: absolute;
      top: -5%;
      right: -21%;
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      content: '';
      background-color: $primary-Bg-color;
      z-index: -5;

      @media screen and (min-width: 1280px) {
        width: 30px;
        height: 30px;
      }
    }
  }
  &__text {
    color: $white-text-color;
    font-size: 8px;
    line-height: 1.2;

    @media screen and (min-width: 1280px) {
      font-size: 14px;
    }
  }
}
