.info {
  &__wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  //   &__image {
  //   }
  &__text {
    color: $white-text-color;
    font-size: 8px;
    line-height: 1.2;
    margin: 20px 0;

    @media screen and (min-width: 1280px) {
      font-size: 14px;
    }
  }
}
