.container-slider__title--visually-hidden{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.section-reviews{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    padding: 80px 0 130px 0;
    min-width: 280px;

    @media screen and (min-width:768px){
        padding: 120px 0px 165px 0;
    }

    @media screen and (min-width:1280px){
        padding: 120px 0 180px 0;
    }
}

.container-slider{
    margin-left: auto;
    margin-right: auto;
    min-width: 280px;
    padding: 0 20px;

    @media screen and (max-width:767px){
        max-width: 480px;   
    }

    @media screen and (min-width:768px){
        padding: 0;
        max-width: 620px;
    }

    @media screen and (min-width:1280px){
        padding: 0;
        max-width: 925px;
    }
}

.slide{
    text-align: center;

    &__foto{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }  
}

.slide__comment{
     position: relative;
    padding: 40px 50px 30px 50px;
    margin-bottom: 40px;

    font-size: 12px;
    line-height: 2.55;
    text-align: center;
    background-color: #FAFAFA;

    @media screen and(min-width: 786px){
        padding: 47px 36px 28px 60px;
        margin-bottom: 50px;
        font-size: 14px;
        line-height: 2.16;
        letter-spacing: 0.04em;
    }

    @media screen and(min-width: 1280px){
        padding: 47px 54px 32px 59px;
        margin-bottom: 50px;
        font-size: 16px;
        line-height: 1.86;
    }

    &::before {
        content: '';

        position: absolute;
        top: 30px;
        left: 60px;

        display: block;
        width: 54px;
        height: 40px;
        background-image: 
        url(../images/brackets.svg);

        z-index: 1;
    
      
        @media screen and (min-width:768px){
            top: 30px;
            left: 40px;
        }
    
        @media screen and (min-width:1280px){
            top: 32px;
            left: 50px;
        }
    }

    &::after {
        content: '';
 
        position: absolute;
        z-index: 12;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);

        display: block;
        width: 32px;
        height: 4px;

        background-image: 
        url(../images/group_elipse.svg);
        background-repeat: no-repeat;
    }
}

 .slide__comment--gradient{
    position: relative;

    background-size: 100% 30px;
    background-image: linear-gradient(#E1E1E1 1px, transparent 1px);
    text-align: center;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 1px;
        background-color: #FAFAFA;
    }
    @media screen and (min-width:768px){
        background-size: 100% 28px;
    }
}

.slide__comment--style{
    position: relative;
    z-index: 2;
    display: inline-block;
    margin: 0;
    padding: 0 12px;

    @media screen and (min-width:768px){
        padding: 0px 44px 0 20px;
    }

    @media screen and (min-width:1280px){
        padding: 0px 35px 0 28px;
    }

}

.slide__subtitle{
    font-size: 14px;
    line-height: 1.86;

    @media screen and(min-width: 786px){
        font-size: 16px;
    }

    @media screen and(min-width: 1280px){
        font-size: 20px;
    }
}