.container-slider{
    position: relative;


    & .slick-track{
        transform: translate3d(0px, 0px, 0px)!important;
        width: inherit!important;
    }

    & .slick-slide{
        display: none;
        }

    & .slick-slide.slick-active{
        display: block;
        }

    & .slick-slide.slick-cloned{
        display: none;
    }

    & .slick-dots{
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 11;
        display: flex;

       @media screen and (min-width:768px) {
        bottom: -35px;
       }
    }

    & .slick-dots li {
        margin: 0 9px;

        &:nth-child(n + 4){
            display: none;
        }
    }

    & .slick-dots button {
        background-color: inherit;
        border: none;

        z-index: 10;
        font-size: 0;
        width: 13px;
        height: 13px;
        border-radius: 5px;
        background-image: 
        url(../images/ellipse1.svg);
        background-repeat: no-repeat;
    }

    & .slick-dots li.slick-active button{
        background-color: inherit; top:100%;
        border: none;
        font-size: 0;
        width: 13px;
        height: 13px;
        background-image: 
        url(../images/home.svg);
        background-repeat: no-repeat;
    }
}

